* {
    box-sizing: border-box;
}

body {
  margin: 0;
  display:flex ;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vh;
}

#root {
  min-height: 100vh;
  min-width: 100vh;
  background-color: burlywood;
}

.container {
  position: relative;

  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;
}

/* Main page */

.home-container {
  display: grid;
  grid-template-columns: 100px 800px 800px;
  grid-template-rows: 300px 265px 85px 75px 20px 20px;

  background-color: burlywood;

  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;
}

.home-container h2 {
  font-size: 21.5px;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  grid-row: 3;
  grid-column: 2;
}

.home-container p {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 2;

  margin-left: 40px;
  margin-top: 55px;
}

.home-container button {
  border-radius: 25px;
  background-color: #a61e4d;
  color: #efefef;
  border: none;
  text-align: center;
  width: 250px;
  height: 50px;

  grid-row: 4;
  grid-column: 2;

}

.h1-wrapper {
  width: 500px;
  height: 250px;

  grid-row: 2;
  grid-column: 2;
}

.h1-wrapper h1 {
 font-size: 62.9px;
 color: white;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* About Page */

.about-container {
  background-color: blue;

  display: grid;
  grid-template-columns: 424px 424px 424px;
  grid-template-rows: 250px 300px 300px 250px;

  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;
}

/* Navbar Component */

.nav {
  position: sticky;
  top: 0px;
  z-index:1;
  
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li .active {
  background-color: #555;

}

.nav li:hover {
  background-color: #777;
}

.nav button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;

  color: inherit;
  text-decoration: none;
  height: 100%;
  
}

/* Main Component */

.main-container {
  display: grid;
  
  min-height: 100vh;
  min-width: 100vh;
  
  grid-template-columns: repeat(3, 600px);
  grid-template-rows: repeat(2, 500px);
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 5; 
  grid-row: 1;
}

.main-footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
  min-width: 100vh;

  grid-column-start: 1;
  grid-column-end: 5; 
  grid-row: 2;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 645px;
  background-color: blue;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 645px;
  background-color: red;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 645px;
  background-color: green;
}

.main-body h1 {
  color: black;
  outline: #333;
  margin: 0;

  
  font-family: "Arial Narrow", Arial, sans-serif; 
  font-size: 50px;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
}

/* Registration Component */

.regi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vh;
}

.regi-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:aqua;
  
  height: 50vh;
  width: 50vh;
}

/* Userpage Component */

.user-container { 
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(auto-fit, 250px);
  min-height: 100vh;
  min-width: 100vh;
}

.user-container h2 {
  grid-column: 1;
  grid-row: 1;
}

.user-container h3 {
  grid-column: 1;
  grid-row: 2;
}

.custom-link {
  list-style: none;
  text-decoration: none;

  grid-column: 6;
  grid-row: 5;
  position: fixed;
  z-index: 1;
  right: 55px;
  top: 325px;

  margin-top: 15px;
}

.user-container a {
  font-size: 25px;
  color: black;
}

.like-button {
  grid-column: 1;
  grid-row: 1;

  background-color: white;
  border-style: none;

  margin-top: 15px;
  width: 40px;
  height: 10px;
}


/* CollectionForm Component */

.collection-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  z-index: 1;
  right: 0;

  margin: 15px;
  border: 0.5px solid black;
  grid-column: 3;
  grid-row: 1;

  width: 275px;
  height: 30%;
}

.top-label {
  font-size: 25px;
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
}

.bot-label {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.collection-form input {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
}

.collection-form select {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
}

.collection-form button {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/* CollectionList Component */

.collection-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  grid-column-start: 1;
  grid-column-end: 2;

  margin: 15px;
  border-style: none;

  height: 200px;
  width: 600px;

  background-color: white;
}

.collection-container h2 {
  margin-left: 20px;
}

.collection-container p {
  margin-left: 35px;
  margin-bottom: 20px;
}

.collection-container button {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 250px;
  width: 600px;
  background-color: white;
}

.collection-container a {
  text-decoration: none;
}

.collection-container li {
  list-style: none;
  text-decoration: none;
}

/* SearchBar Component */

.search-form {
  display: flex;
  position: fixed;
  z-index: 1;
  right: 0;
  flex-direction: column;
  align-items: flex-start;

  margin: 15px;
  border: 0.5px solid black;

  width: 325px;
  height: 30%;
}

.search-form label {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 15px;
}

.search-form input {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 15px;
  width: 200px;
}

.search-form select {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 15px;
  width: 200px;
}

.search-form button {
  margin: 15px;
  margin-left: 25px;
  width: 115px;
}

.search-form li {
  list-style: none;
}

/* Workout List */

.workout-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 2;

  border: 0.5px solid black;
  margin: 15px;

  height: 250px;
  width: 600px;

  background-color: white;
}


.workout-container h2 {
  margin-left: 20px;
}

.workout-container label {
  margin-left: 35px;
  margin-bottom: 20px;
}