* {
    box-sizing: border-box;
}

body {
  margin: 0;
  display:flex ;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vh;
}

#root {
  min-height: 100vh;
  min-width: 100vh;
}

.container {
  position: relative;

  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;
}

/* Container Animation */


/* Navbar Component */

.nav {
  position: sticky;
  top: 0px;
  z-index:1;
  
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li .active {
  background-color: #555;

}

.nav li:hover {
  background-color: #777;
}

.nav button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;

  color: inherit;
  text-decoration: none;
  height: 100%;
  
}

/* Main Component */

.Main-container {
  background-color: #58ca95;
  
  height: 100vh;
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
  
.Main-container h1 {
  color: black;
  outline: #333;
  margin: 0;

  font-family: "Arial Narrow", Arial, sans-serif; 
  font-size: 35px;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
}

/* Registration Component */

.regi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vh;
}

.regi-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:aqua;
  
  height: 50vh;
  width: 50vh;
}

/* Signin Component */

.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vh;
}

.signin-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:aqua;
  
  height: 50vh;
  width: 50vh;
}

/* Userpage Component */

.user-container { 
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  
  min-height: 100vh;
  min-width: 100vh;
}

/* CollectionForm Component */

.collection-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  align-self: auto;

  margin: 15px;
  border: 0.5px solid black;

  width: 275px;
  height: 40%;
}

.collection-form label {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.collection-form input {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
}

.collection-form select {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
}

.collection-form button {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/* CollectionList Component */

.collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: auto;

  margin: 15px;
  border: 0.5px solid black;
}

.collection-container li {
  list-style: none;
}

/* SearchBar Component */

.search-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;

  margin: 15px;
  border: 0.5px solid black;

  width: 325px;
  height: 30%;
}

.search-form label {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 15px;
}

.search-form input {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 15px;
  width: 200px;
}

.search-form select {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 15px;
  width: 200px;
}

.search-form button {
  margin: 15px;
  margin-left: 25px;
  width: 115px;
}

.search-form li {
  list-style: none;
}

