* {
    box-sizing: border-box;
}

body {
  margin: 0;
  display:flex ;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vh;
}

#root {
  min-height: 100vh;
  min-width: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: .25rem;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Main page */

.home-container {
  display: grid;
  grid-template-columns: 100px 800px 800px;
  grid-template-rows: 300px 265px 85px 75px 20px 20px;

  background-color: burlywood;

  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;
}

.home-container h2 {
  font-size: 21.5px;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  grid-row: 3;
  grid-column: 2;
}

.home-container p {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 2;

  margin-left: 40px;
  margin-top: 55px;
}


.link-1 {
  grid-row: 4;
  grid-column: 2;
  width: fit-content;
  height: fit-content;
}


.link-2 {
  grid-row: 5;
  grid-column: 2;
  align-self: center;
  margin-left: 35px;
  width: fit-content;
  height: 30px;
}

.link-2 li {
  width: 217px;
  height: 30px;
}

.home-container button {
  border-radius: 25px;
  background-color: #a61e4d;
  color: #efefef;
  border: none;
  text-align: center;
  width: 250px;
  height: 50px;

  border:none;
  margin:0;
  padding:0;
  cursor: pointer;  
}

.h1-wrapper {
  width: 500px;
  height: 250px;

  grid-row: 2;
  grid-column: 2;
}

.h1-wrapper h1 {
 font-size: 62.9px;
 color: white;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Feature Page */

.feature-container {
  background-color: #FFF6BD;
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(5, 345px);
  grid-template-rows: 150px 150px 150px 200px 250px;

  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;
}

.feature-container h1 {
  text-align: center;
  align-self: center;
  justify-self: center;
  grid-column: 3;
  grid-row: 2;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  color: #BDC6FF;
}

.icon-1 img {
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(0%, -50%);
}

.icon-2 img {
  height: 50%;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.icon-3 img {
  height: 45%;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.icon-1 {
  align-self: center;
  justify-self: center;

  grid-column: 2;
  grid-row: 3;

  height: 150px;
  width: 150px;

  background-color: white;
  border-radius: 50%;
  border: 4px solid #BDC6FF;
}

.icon-2 {
  text-align: center;
  
  align-self: center;
  justify-self: center;

  grid-column: 3;
  grid-row: 3;

  height: 150px;
  width: 150px;

  background-color: white;
  border-radius: 50%;
  border: 4px solid #BDC6FF;
}

.icon-3 {
  text-align: center;
  align-self: center;
  justify-self: center;

  grid-column: 4;
  grid-row: 3;

  height: 150px;
  width: 150px;

  background-color: white;
  border-radius: 50%;
  border: 4px solid #BDC6FF;
}

.p-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;

  height: 150px;
  width: 300px;

  grid-column: 2;
  grid-row: 4;

  border: 1px solid black;
  border-radius: 50px;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.p-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;

  height: 150px;
  width: 300px;

  grid-column: 3;
  grid-row: 4;

  border: 1px solid black;
  border-radius: 50px;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.p-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;

  height: 150px;
  width: 300px;

  grid-column: 4;
  grid-row: 4;

  border: 1px solid black;
  border-radius: 50px;
  
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

/* Navbar Component */

.nav {
  position: sticky;
  top: 0px;
  z-index:1;
  
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li .active {
  background-color: #555;

}

.nav li:hover {
  background-color: #777;
}

.nav button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;

  color: inherit;
  text-decoration: none;
  height: 100%;
  
}


/* Registration Component */

.regi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #B08BBB;

  min-height: 100vh;
  min-width: 100vh;

}

.regi-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:white;
  
  height: 50vh;
  width: 50vh;
  border-radius: 25px;
}

.regi-form label {
  margin-bottom: 15px;
  margin-top: 15px;
}

.regi-form input {
  width: 250px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid black;
}

.regi-form button {
  width: 125px;
  height: 50px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid black;
  margin-top: 10px;
}

.regi-form button:hover {
  background-color: green;
}

/* Userpage Component */

.user-container { 
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(auto-fit, 350px);
  min-height: 100vh;
  min-width: 100vh;

  background-color: white;
}

.user-container h2 {
  grid-column: 1;
  grid-row: 1;
}

.user-container h3 {
  grid-column: 1;
  grid-row: 2;
}

.user-container a {
  font-size: 25px;
  color: black;
}



.like-button {
	position: relative;
  top: 55px;
  left: 50px;
	grid-column: 1;
  grid-row: 2;

  border: none;
  height: 50px;
	width: 50px;
	transform: rotate(-45deg) scale(1);
  
  background-color: red;
}


.like-button::after {
	background: inherit;
  color: inherit;
	border-radius: 50%;
	content: '';
	position: absolute;
	top: -50%;
	left: 0;
	height: 50px;
	width: 50px;
}

.like-button::before {
	background: inherit;
  color: inherit;
	border-radius: 50%;
	content: '';
	position: absolute;
	top: 0;
	right: -50%;
	height: 50px;
	width: 50px;
}

/* CollectionForm Component */

.collection-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  z-index: 1;
  right: 0;

  margin: 15px;
  border: 0.5px solid black;
  grid-column: 3;
  grid-row: 1;

  width: 275px;
  height: 30%;
}

.top-label {
  font-size: 25px;
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
}

.bot-label {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.collection-form input {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
}

.collection-form select {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
}

.collection-form button {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/* CollectionList Component */

.collection-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  grid-column-start: 1;
  grid-column-end: 2;

  margin: 15px;

  border: 1px solid black;

  height: 350px;
  width: 600px;

  background-color: white;
}

.buttons {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 600px;
  flex-direction: row;
}

.buttons a {
  display: contents;
}

.buttons li {
  display: contents;
}

.workouts-btn {
  height: 25px;
  width: 125px;
  align-self: flex-end;
  margin-left: 10px;
}

.collection-container h2 {
  margin-left: 20px;
}

.collection-container p {
  margin-left: 35px;
  margin-bottom: 20px;
}

.collection-container a {
  text-decoration: none;
}

.collection-container li {
  list-style: none;
  text-decoration: none;
}

/* SearchBar Component */

.search-form {
  display: flex;
  position: fixed;
  z-index: 1;
  right: 0;
  flex-direction: column;
  align-items: flex-start;

  margin: 15px;
  border: 0.5px solid black;

  width: 325px;
  height: 30%;
}

.search-form label {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 15px;
}

.search-form input {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 15px;
  width: 200px;
}

.search-form select {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 15px;
  width: 200px;
}

.search-form button {
  margin: 15px;
  margin-left: 25px;
  width: 115px;
}

.search-form li {
  list-style: none;
}

/* Workout List */

.workout-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 3;

  border: 0.5px solid black;
  margin: 15px;

  height: 250px;
  width: 600px;

  background-color: white;
}


.workout-container h2 {
  margin-left: 20px;
}

.workout-container label {
  margin-left: 35px;
  margin-bottom: 20px;
}

.search-btn {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 350px;
  background-color: white;
  margin: 15px;
  width: 325px;
  height: 50px

}

.search-btn a :hover {
  text-decoration: underline;
}

.search-btn li {
  width: 325px;
  height: 50px;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 350px;
  margin: 15px;
  text-align: center;
}

.search-btn a {
  width: 325px;
  height: 50px;
  align-self: center;
  justify-self: center;
  margin: 0;
}


.search-btn p {
  position: fixed;
  z-index: 1;
  right: 15px;
  top: 350px;
  width: 325px;
  height: 35px;
  text-align: center;
}

.collection-delete {
  align-self: flex-end;
  margin-right: 10px;
  width: 150px;
  padding: 0;
}

.workout-btns {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.edit-button {
  width: 125px;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
  align-self: flex-end;
}

.del-form {
  width: 125px;
  height: 25px;
}

.del-form button {
  width: 125px;
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  align-self: flex-start;
}

.del-col {
  width: 125px;
  height: 25px;
  align-self: flex-end;
  margin-right: 10px;
}

.del-col button {
  height: 25px;
  width: 125px;
  align-self: flex-end;
  margin-right: 10px;
}

.edit-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin-top: 15px;
  grid-column: 2;
}

.workout-wrapper {
  display: flex;

  flex-direction: row-reverse;
  justify-content: space-between;
  grid-column-start: 2;
  grid-column-end: 3;

  margin: 15px;

  height: 250px;
  width: 900px;

  background-color: white;
}